.shape-divider {
  position: relative;

  .custom-shape-divider-bottom-1667100302 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .custom-shape-divider-bottom-1667100302 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 121px;
    margin-bottom: -1px;
  }

  .custom-shape-divider-bottom-1667100302 .shape-fill {
    fill: #ffffff;
  }

  /** For mobile devices **/
  @media (max-width: 767px) {
    .custom-shape-divider-bottom-1667100302 svg {
      width: calc(100% + 1.3px);
      height: 89px;
    }
  }
}
