.language {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px auto;

  .language-text {
    font-weight: 600;
    margin-bottom: 40px;
  }

  .carousel {
    cursor: grab;
    overflow: hidden;

    .inner-carousel {
      display: flex;
      width: 300px;

      @media (min-width: 820px) {
        width: 500px;
      }

      .item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
        
        .item-icon {
          width: 80px;
          height: 50px;
          border-radius: 20px;
          pointer-events: none;

          @media (min-width: 820px) {
            width: 100px;
            height: 80px;
          }
        }
      }
    }
  }
}
