.navbar {
  height: 75px;
  position: relative;
  display: flex;
  justify-content: space-around;
  background: #4b6cb7;
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  opacity: 0.95;
}

.navbar img:hover {
  box-shadow: 0 4px 8px 0 rgba(75, 108, 183, 1),
    0 6px 20px 0 rgba(255, 138, 217, 1);
  cursor: pointer;
}

.navbar .navlogo {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 25%;
  right: 10%;
}

.navbar .navright {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar .navright a {
  position: relative;
  margin: 10px 5px;
  text-decoration: none;
  color: azure;
  //   top: 10%;
  //   left: 5%;
}

.navbar .navright a:hover {
  background: radial-gradient(
    circle,
    rgba(75, 108, 183, 1) 0%,
    rgba(255, 138, 217, 1) 100%
  );
  border-radius: 15%;
  box-shadow: 0 4px 8px 0 rgba(75, 108, 183, 1),
    0 6px 20px 0 rgba(255, 138, 217, 1);
  cursor: pointer;
}
